In [15]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from pprint import pprint
import zipcodes

# Census & gmaps API Keys
from config import (census_api_key, gkey)
c = Census(census_api_key, year=2017)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [30]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_data = c.acs5.get(("NAME", "B19013_001E", "B25058_001E", "B25064_001E", "B25077_001E", "B25088_002E"), {'for': 'zip code tabulation area:*'}) #{'for': 'state:*'} ) 

# Convert to DataFrame
census_housing = pd.DataFrame(census_data)

# Column Reordering
census_housing = census_housing.rename(columns={
                                      "B19013_001E": "Household Income",
                                      "B25058_001E": "Median Contract Rent",
                                      "B25064_001E": "Median Gross Rent",
                                      "B25077_001E": "Median Home Value",
                                      "B25088_002E": "Median Monthly Owner Costs",
                                      "NAME": "Name","zip code tabulation area": "Zipcode"})  #"state": "State"


# Final DataFrame
census_housing = census_housing[["Zipcode", "Name", "Household Income", "Median Contract Rent", "Median Gross Rent", "Median Home Value",
                       "Median Monthly Owner Costs"]]

census_housing

,Zipcode,Name,Household Income,Median Contract Rent,Median Gross Rent,Median Home Value,Median Monthly Owner Costs
0,00601,ZCTA5 00601,11757.0,291.0,373.0,82500.0,748.0
1,00602,ZCTA5 00602,16190.0,304.0,380.0,87300.0,846.0
2,00603,ZCTA5 00603,16645.0,306.0,400.0,122300.0,867.0
3,00606,ZCTA5 00606,13387.0,185.0,284.0,92700.0,538.0
4,00610,ZCTA5 00610,18741.0,322.0,415.0,90300.0,733.0
5,00612,ZCTA5 00612,17744.0,310.0,395.0,97300.0,757.0
6,00616,ZCTA5 00616,14918.0,327.0,509.0,92900.0,622.0
7,00617,ZCTA5 00617,17157.0,375.0,478.0,101900.0,715.0
8,00622,ZCTA5 00622,16727.0,392.0,538.0,135500.0,905.0
9,00623,ZCTA5 00623,16401.0,352.0,422.0,111800.0,763.0
10,00624,ZCTA5 00624,16832.0,333.0,431.0,77600.0,670.0
11,00627,ZCTA5 00627,17579.0,334.0,419.0,108300.0,744.0
12,00631,ZCTA5 00631,9632.0,138.0,223.0,86300.0,755.0
13,00637,ZCTA5 00637,15736.0,329.0,464.0,95800.0,664.0
14,00638,ZCTA5 00638,14448.0,281.0,372.0,96500.0,717.0
15,00641,ZCTA5 00641,16292.0,293.0,387.0,94200.0,674.0
16,00646,ZCTA5 00646,29160.0,573.0,694.0,142900.0,1179.0
17,00647,ZCTA5 00647,13071.0,400.0,525.0,84400.0,574.0
18,00650,ZCTA5 00650,16095.0,362.0,524.0,93900.0,684.0
19,00652,ZCTA5 00652,20564.0,283.0,373.0,98200.0,653.0
20,00653,ZCTA5 00653,12236.0,286.0,400.0,89800.0,645.0
21,00656,ZCTA5 00656,14966.0,254.0,342.0,82200.0,690.0
22,00659,ZCTA5 00659,17770.0,328.0,436.0,97500.0,774.0
23,00660,ZCTA5 00660,19674.0,332.0,393.0,104700.0,746.0
24,00662,ZCTA5 00662,16771.0,361.0,483.0,103800.0,739.0
25,00664,ZCTA5 00664,15401.0,281.0,384.0,90400.0,622.0
26,00667,ZCTA5 00667,13843.0,293.0,417.0,92000.0,773.0
27,00669,ZCTA5 00669,12996.0,305.0,407.0,86400.0,650.0
28,00670,ZCTA5 00670,14456.0,240.0,314.0,73100.0,746.0
29,00674,ZCTA5 00674,18032.0,345.0,471.0,105900.0,819.0
...,...,...,...,...,...,...,...
33090,99786,ZCTA5 99786,44500.0,300.0,650.0,79000.0,1125.0
33091,99788,ZCTA5 99788,28750.0,-666666666.0,-666666666.0,57100.0,-666666666.0
33092,99789,ZCTA5 99789,82813.0,675.0,850.0,86700.0,750.0
33093,99790,ZCTA5 99790,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0
33094,99791,ZCTA5 99791,61250.0,725.0,1063.0,116100.0,-666666666.0
33095,99801,ZCTA5 99801,91743.0,1107.0,1187.0,343600.0,2139.0
33096,99820,ZCTA5 99820,36000.0,520.0,733.0,125000.0,1167.0
33097,99824,ZCTA5 99824,75577.0,1013.0,1141.0,334000.0,2060.0
33098,99825,ZCTA5 99825,88500.0,-666666666.0,-666666666.0,325000.0,1714.0
33099,99826,ZCTA5 99826,61875.0,713.0,779.0,267500.0,1538.0
33100,99827,ZCTA5 99827,70091.0,883.0,1012.0,238300.0,1466.0
33101,99829,ZCTA5 99829,60625.0,773.0,1005.0,172300.0,1232.0
33102,99830,ZCTA5 99830,51250.0,575.0,938.0,140600.0,1250.0
33103,99832,ZCTA5 99832,67917.0,-666666666.0,-666666666.0,174000.0,-666666666.0
33104,99833,ZCTA5 99833,63490.0,759.0,885.0,205000.0,1558.0
33105,99835,ZCTA5 99835,70765.0,888.0,1104.0,350900.0,2096.0
33106,99836,ZCTA5 99836,66875.0,-666666666.0,-666666666.0,88300.0,-666666666.0
33107,99840,ZCTA5 99840,70673.0,908.0,1069.0,293800.0,1798.0
33108,99841,ZCTA5 99841,59688.0,-666666666.0,-666666666.0,247100.0,-666666666.0
33109,99901,ZCTA5 99901,67321.0,979.0,1139.0,265700.0,1765.0
33110,99903,ZCTA5 99903,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0
33111,99918,ZCTA5 99918,63125.0,-666666666.0,-666666666.0,199000.0,1350.0
33112,99919,ZCTA5 99919,50956.0,644.0,843.0,191700.0,1344.0
33113,99921,ZCTA5 99921,58047.0,828.0,1015.0,225700.0,1621.0
33114,99922,ZCTA5 99922,31250.0,321.0,350.0,90700.0,600.0
33115,99923,ZCTA5 99923,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0
33116,99925,ZCTA5 99925,48646.0,460.0,620.0,160900.0,1307.0
33117,99926,ZCTA5 99926,57969.0,400.0,656.0,122600.0,1242.0
33118,99927,ZCTA5 99927,17981.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0
33119,99929,ZCTA5 99929,55742.0,652.0,793.0,195900.0,1380.0

In [14]:
# Read in the csv containing state happiness rates
happiness = pd.read_csv("./happiness.csv")
happiness.head()

          State  Happiness Rating
0  South Dakota              64.1
1       Vermont              64.1
2        Hawaii              63.4
3     Minnesota              63.1
4  North Dakota              63.1

In [ ]:
# pprint(zipcodes.matching(census_housing["Zipcode"].astype(int)))
zc = census_housing["Zipcode"]
# zipcodes.matching("00601")
# for zipcode in zc:
#      states = zipcodes.matching(zipcode)
    
# # print(states)
# zip=census_housing['Zipcode']
# # zip=zip.astype(int)
# # zip=zip.astype(str)
# for i in zip:
#     myzip = zipcode.isequal(i)
#     if myzip:
#         print(myzip.state)

for zipcode in zc:
    my_zc = zipcodes.matching(zipcode)
    if my_zc:
        pprint(my_zc)