In [7]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from pprint import pprint
import zipcodes

# Census & gmaps API Keys
from config import (census_api_key, gkey)
c = Census(census_api_key, year=2017)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [8]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_housing = c.acs5.get(("NAME", "B19013_001E", "B25058_001E", "B25064_001E", "B25077_001E", "B25088_002E"), {'for': 'state:*'}) #'for': 'zip code tabulation area:*' ) 

# Convert to DataFrame
census_housing = pd.DataFrame(census_housing)

# Column Reordering
census_housing = census_housing.rename(columns={
                                      "B19013_001E": "Household Income",
                                      "B25058_001E": "Median Contract Rent",
                                      "B25064_001E": "Median Gross Rent",
                                      "B25077_001E": "Median Home Value",
                                      "B25088_002E": "Median Monthly Owner Costs",
                                      "NAME": "Name","state": "State"})  #"zip code tabulation area": "Zipcode"


# Final DataFrame
census_housing = census_housing[["State", "Name", "Household Income", "Median Contract Rent", "Median Gross Rent", "Median Home Value",
                       "Median Monthly Owner Costs"]]

census_housing.head()

,State,Name,Household Income,Median Contract Rent,Median Gross Rent,Median Home Value,Median Monthly Owner Costs
0,72,Puerto Rico,19775.0,362.0,464.0,115300.0,888.0
1,01,Alabama,46472.0,544.0,747.0,132100.0,1149.0
2,02,Alaska,76114.0,1091.0,1200.0,261900.0,1862.0
3,04,Arizona,53510.0,810.0,972.0,193200.0,1354.0
4,05,Arkansas,43813.0,527.0,709.0,118500.0,1039.0

In [9]:
# Read in the csv containing state happiness rates
happiness = pd.read_csv("./happiness.csv")
happiness.head()

          State  Happiness Rating
0  South Dakota              64.1
1       Vermont              64.1
2        Hawaii              63.4
3     Minnesota              63.1
4  North Dakota              63.1

In [10]:
# Pull commuting data (counts and minutes) from Census API by zip
commute_byst= c.acs5.get(("B08136_003E", "B08136_004E", "B08136_007E","B08136_011E", "B08136_012E","B08301_001E",
                           "B08301_003E","B08301_004E", "B08301_010E","B08301_019E","B08101_041E","NAME"), {'for': 'state:*'})

# Convert to DataFrame
commute_byst_pd = pd.DataFrame(commute_byst)
                                
commute_byst_pd = commute_byst_pd.rename(columns={"B08136_003E":"ct_solo_auto", "B08136_004E":"ct_carpool", "B08136_007E":"ct_pub_trans",
                                                    "B08136_011E":"ct_walked", "B08136_012E":"ct_other","B08301_001E":"t_total","B08301_003E":"t_solo_auto","B08301_004E":"t_carpool",
                                                    "B08301_010E":"t_public_transport","B08301_019E":"t_walked","B08101_041E":"t_other","NAME": "Name"})
commute_byst_pd

,t_other,ct_solo_auto,ct_carpool,ct_pub_trans,ct_walked,ct_other,t_total,t_solo_auto,t_carpool,t_public_transport,t_walked,Name,state
0,19331.0,24161705.0,2761480.0,1057085.0,393255.0,502590.0,1009568.0,828868.0,85272.0,21692.0,32317.0,Puerto Rico,72
1,20531.0,42207585.0,4900280.0,324595.0,241960.0,639890.0,2030100.0,1743217.0,173758.0,7433.0,22659.0,Alabama,01
2,18829.0,4423270.0,871085.0,219085.0,242730.0,733835.0,360701.0,247111.0,44744.0,5453.0,28714.0,Alaska,02
3,76546.0,54323095.0,8771110.0,2832275.0,694310.0,2286730.0,2916850.0,2234990.0,317969.0,58267.0,57699.0,Arizona,04
4,15329.0,22402830.0,3183235.0,159640.0,220485.0,396940.0,1258851.0,1044010.0,132343.0,4663.0,21933.0,Arkansas,05
5,450486.0,355836415.0,58162215.0,45997080.0,6155215.0,12811450.0,17589758.0,12950487.0,1830958.0,909679.0,470101.0,California,06
6,61673.0,50513645.0,6917815.0,3862640.0,922805.0,1816775.0,2742151.0,2062986.0,249838.0,86517.0,78198.0,Colorado,08
7,19988.0,34010705.0,3581590.0,5233535.0,597800.0,570215.0,1773999.0,1387093.0,143925.0,86778.0,51059.0,Connecticut,09
8,22117.0,3400055.0,551085.0,4748585.0,817825.0,529935.0,354658.0,120608.0,19158.0,125641.0,46967.0,District of Columbia,11
9,4990.0,8957090.0,904065.0,597485.0,106125.0,128485.0,435351.0,354471.0,34822.0,12198.0,9244.0,Delaware,10
10,196018.0,187206365.0,23053350.0,8855550.0,1657005.0,6431740.0,8907171.0,7079760.0,820961.0,180231.0,129801.0,Florida,12
11,75713.0,99315455.0,13474200.0,5002460.0,866270.0,2325165.0,4553332.0,3617832.0,455684.0,97418.0,68505.0,Georgia,13
12,24167.0,12094525.0,2821570.0,2317815.0,392380.0,533925.0,695140.0,466216.0,95171.0,46028.0,31668.0,Hawaii,15
13,16005.0,11561720.0,1834950.0,283080.0,210745.0,414155.0,737018.0,579041.0,73071.0,5235.0,20052.0,Idaho,16
14,106254.0,119637250.0,13949100.0,27691560.0,2277235.0,3037390.0,6080262.0,4457921.0,485878.0,569355.0,184620.0,Illinois,17
15,43566.0,59284495.0,6761880.0,1469235.0,701185.0,1070595.0,3068972.0,2547743.0,269279.0,32148.0,64177.0,Indiana,18
16,23148.0,24065995.0,2961405.0,522740.0,502795.0,469940.0,1573318.0,1275048.0,132007.0,17161.0,53677.0,Iowa,19
17,20056.0,22077230.0,2841860.0,236725.0,310100.0,498245.0,1414974.0,1165391.0,127940.0,6829.0,33705.0,Kansas,20
18,26212.0,35832175.0,4782045.0,812945.0,465700.0,736805.0,1909202.0,1569519.0,183386.0,20645.0,44035.0,Kentucky,21
19,10015.0,12084690.0,1715900.0,168905.0,263020.0,275835.0,645333.0,506626.0,62820.0,4142.0,25317.0,Maine,23
20,39765.0,41040700.0,5333280.0,1125045.0,379625.0,1332790.0,2007343.0,1659358.0,189325.0,26340.0,35759.0,Louisiana,22
21,67806.0,68049940.0,7471750.0,16693075.0,2281475.0,1855620.0,3454047.0,2440463.0,258167.0,352153.0,167203.0,Massachusetts,25
22,41596.0,68175805.0,9026290.0,14511920.0,922435.0,1286595.0,3008292.0,2220170.0,275002.0,263851.0,71857.0,Maryland,24
23,55558.0,88413480.0,9991060.0,2748045.0,1078000.0,1465855.0,4430991.0,3657462.0,387929.0,62245.0,97441.0,Michigan,26
24,47225.0,50887880.0,6042250.0,4027205.0,805035.0,1333225.0,2851545.0,2224424.0,243027.0,102928.0,78485.0,Minnesota,27
25,19665.0,24619815.0,3260900.0,177425.0,170580.0,614155.0,1208408.0,1027789.0,113591.0,4135.0,17411.0,Mississippi,28
26,34885.0,53588755.0,6396480.0,1927135.0,596080.0,974645.0,2835065.0,2319217.0,251905.0,41877.0,54038.0,Missouri,29
27,11881.0,6475470.0,1125295.0,119760.0,227000.0,241780.0,490818.0,370953.0,47733.0,3721.0,25139.0,Montana,30
28,12968.0,14541130.0,1885085.0,229955.0,225075.0,285520.0,974657.0,797301.0,89178.0,6629.0,26519.0,Nebraska,31
29,9099.0,15307175.0,1569950.0,342550.0,186355.0,354400.0,696499.0,563656.0,55803.0,6059.0,19407.0,New Hampshire,33
30,27972.0,23236780.0,3502075.0,2627070.0,362695.0,792645.0,1323151.0,1034708.0,137770.0,45950.0,26359.0,Nevada,32
31,78727.0,86706995.0,10155075.0,29030355.0,1615335.0,2108715.0,4300873.0,3074062.0,344646.0,493428.0,128622.0,New Jersey,34
32,17405.0,14911505.0,2206835.0,413760.0,205590.0,431495.0,875493.0,701859.0,85836.0,9801.0,18700.0,New Mexico,35
33,178835.0,129089615.0,18476125.0,132789210.0,8308080.0,4917870.0,9269671.0,4906304.0,611028.0,2615273.0,579374.0,New York,36
34,59113.0,88764835.0,11652615.0,1986965.0,847460.0,1882905.0,4570330.0,3709128.0,434719.0,47903.0,83872.0,North Carolina,37
35,4773.0,5390505.0,845080.0,52995.0,107165.0,95850.0,398969.0,322855.0,35749.0,2008.0,14427.0,North Dakota,38
36,61724.0,103917615.0,10245525.0,3797305.0,1339305.0,1742585.0,5382511.0,4490622.0,414215.0,87702.0,120360.0,Ohio,39
37,23644.0,30550425.0,4118760.0,272740.0,304555.0,604845.0,1733032.0,1431754.0,173974.0,7545.0,29789.0,Oklahoma,40
38,62928.0,29336525.0,4874610.0,3652415.0,946880.0,1651320.0,1845227.0,1319247.0,188632.0,82303.0,69807.0,Oregon,41
39,83377.0,117804060.0,14212580.0,15434645.0,2672940.0,2282940.0,5976599.0,4568454.0,505448.0,332315.0,225480.0,Pennsylvania,42
40,6734.0,9912005.0,1149680.0,749205.0,213035.0,151155.0,513888.0,409991.0,44315.0,13644.0,19347.0,Rhode Island,44
41,32138.0,43574180.0,5342855.0,479495.0,378210.0,844370.0,2168006.0,1791769.0,202215.0,12509.0,46842.0,South Carolina,45
42,5690.0,5830660.0,800065.0,66985.0,122085.0,109395.0,432243.0,345719.0,38302.0,2367.0,16085.0,South Dakota,46
43,37254.0,60517220.0,7144420.0,926200.0,419710.0,1140285.0,2951964.0,2466424.0,264282.0,22047.0,40023.0,Tennessee,47
44,208437.0,258927835.0,36207965.0,9002215.0,2231270.0,6888680.0,12550476.0,10097917.0,1299410.0,187311.0,195192.0,Texas,48
45,25438.0,21616270.0,3920010.0,1582910.0,461315.0,730320.0,1393296.0,1059348.0,157824.0,34885.0,35391.0,Utah,49
46,5269.0,5596980.0,743280.0,141165.0,187520.0,119025.0,319512.0,242439.0,28351.0,3958.0,17791.0,Vermont,50
47,70755.0,86036995.0,12226075.0,9033380.0,1157070.0,2197545.0,4115810.0,3183253.0,381323.0,182233.0,100758.0,Virginia,51
48,8290.0,15215480.0,2274740.0,271215.0,244710.0,193100.0,732407.0,602207.0,70759.0,6304.0,21224.0,West Virginia,54
49,70293.0,62064975.0,10345590.0,10246050.0,1654295.0,2467785.0,3390837.0,2450802.0,340733.0,215195.0,120440.0,Washington,53
50,5478.0,NaN,NaN,NaN,NaN,NaN,289627.0,225085.0,30071.0,3901.0,11638.0,Wyoming,56
51,47306.0,51078555.0,5637055.0,2097115.0,931220.0,1122160.0,2893314.0,2339955.0,233978.0,53566.0,92426.0,Wisconsin,55